Repository miguelangel-nubla/product-matcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-tests, local-biome-check

backend-lint:
  name: backend lint
  entry: bash -c 'cd backend && bash scripts/lint.sh --fix'
  language: system

backend-tests:
  name: backend tests
  entry: bash -c 'cd backend && bash scripts/tests-start.sh'
  language: system
  pass_filenames: false
  timeout: 600

local-biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npm run lint'
  language: system

chore(release): 1.9.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  2670dc1bd823eb3f091ddd5ba4bb7ddb5530e9b2
Due: none

feat: add configurable reverse proxy for frontend API requests
  .env
  frontend/docker-entrypoint.sh
  frontend/nginx.conf
Due: local-biome-check

refactor: improve backend abstraction and matcher architecture
  backend/app/adapters/base.py
  backend/app/api/routes/matching.py
  backend/app/config/user/backends.yaml
  backend/app/services/backend.py
  backend/app/services/matcher/context.py
  backend/app/services/matcher/data_preparation.py
  backend/app/services/matcher/matcher.py
  backend/app/services/matcher/strategies/semantic.py
  backend/tests/api/routes/test_matching.py
  backend/tests/services/matcher/strategies/test_fuzzy.py
  backend/tests/services/matcher/strategies/test_semantic.py
  backend/tests/services/matcher/test_data_preparation.py
  backend/tests/services/matcher/test_matcher.py
Due: backend-lint, backend-tests

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  cf6a623439423919baf08890b856fe5296de3848
Due: none

fix: remove uv run from scripts and simplify test execution
  .pre-commit-config.yaml
  backend/README.md
  backend/scripts/lint.sh
  backend/scripts/test.sh
  backend/scripts/tests-start.sh
  backend/tests/benchmarks/run_benchmarks.sh
  scripts/generate-client.sh
Due: none

feat: unify and improve test scripts with auto-database startup
  .pre-commit-config.yaml
  scripts/test-local.sh
  scripts/test.sh
Due: none

Notes added by 'git notes add'
  f7a1b2d9b166e17d8fdc523eebb9058b81b72da5
Due: none

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
Due: none

fix: use unified test.sh script in CI and pre-commit
  .github/workflows/test-backend.yml
  .pre-commit-config.yaml
  backend/README.md
  backend/scripts/format.sh
  backend/scripts/test.sh
  backend/scripts/tests-start.sh
  scripts/build-push.sh
  scripts/build.sh
  scripts/test.sh
Due: none

fix: update test scripts and pre-commit configuration
  .pre-commit-config.yaml
  backend/scripts/test.sh
  scripts/test.sh
Due: none

chore(release): 1.11.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  33e99696afcd7ef2de701db06759f4af2d77f6cb
Due: none

feat(normalization): add Roman numeral removal to Spanish normalizer
  backend/app/services/normalization/es.py
Due: backend-lint, backend-tests

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d0321f93e2d23a433a35777af58010f5eb59bbc2
Due: none

fix: propagate backend errors as HTTP errors instead of failed matches
  backend/app/adapters/registry.py
  backend/app/api/routes/matching.py
  backend/app/services/matcher/matcher.py
  backend/tests/adapters/test_registry.py
  backend/tests/api/routes/test_matching.py
  backend/tests/services/matcher/test_matcher.py
Due: backend-lint, backend-tests

chore(release): 1.12.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  8c9cb6188633f433912fa3578b0b7673688df92b
Due: none

feat: add API key management system
  backend/app/alembic/versions/896b5bf4f91b_add_accesstoken_table.py
  backend/app/api/deps.py
  backend/app/api/main.py
  backend/app/api/routes/access_tokens.py
  backend/app/api/routes/matching.py
  backend/app/api/routes/users.py
  backend/app/config/README.md
  backend/app/core/security.py
  backend/app/crud.py
  backend/app/models.py
  backend/tests/api/routes/test_access_tokens.py
  backend/tests/api/routes/test_matching.py
  backend/tests/core/test_security.py
  backend/tests/crud/test_access_tokens.py
  frontend/src/components/UserSettings/ApiKeys.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/routes/_layout.tsx
  frontend/src/routes/_layout/settings.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
  frontend/src/routes/signup.tsx
  frontend/src/services/accessTokens.ts
Due: backend-lint, backend-tests, local-biome-check

fix(test): add explicit Docker build step to test script
  scripts/test.sh
Due: none

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d2dcbaac88278269e690fd19a30bc1bffe857d9d
Due: none

feat: add debug parameter to MatchRequest with conditional logic
  backend/app/api/routes/matching.py
  backend/app/models.py
  frontend/src/routes/_layout/matcher.tsx
Due: backend-lint, backend-tests, local-biome-check

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  6876ab12b88902b84b3b7b8c5b22c78bc8abaa6d
Due: none

feat(grocy): filter products with no_own_stock=0 parameter
  backend/app/adapters/grocy.py
Due: backend-lint, backend-tests

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  7ec4aca977a97309d8dbc8ab075273b02e19bdd5
Due: none

feat(pending-queries): add bulk delete with page-size controls
  frontend/src/routes/_layout/pending.tsx
Due: local-biome-check

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e86f132d74d808db9ee6139bfc69226b8329ff0b
Due: none

fix(pending): reuse existing pending queries by original text
  backend/app/services/pending.py
  backend/tests/services/test_pending.py
Due: backend-lint, backend-tests

chore(release): 1.16.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  fd554e8c4ad02df020458a588d64ec30f7d33ca2
Due: none

fix(pending): filter existing pending by backend and threshold
  backend/app/services/pending.py
  frontend/src/routes/_layout/pending.tsx
Due: backend-lint, backend-tests, local-biome-check

chore(release): 1.16.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d72e8cfed77ae07b4247fa5758bdd466ddaa0c17
Due: none

feat(matching): surface ignored queries across API and UI
  backend/app/api/routes/matching.py
  backend/app/models.py
  backend/app/services/pending.py
  backend/tests/api/routes/test_matching.py
  backend/tests/services/test_pending.py
  frontend/src/routes/_layout/matcher.tsx
  frontend/src/routes/_layout/pending.tsx
Due: backend-lint, backend-tests, local-biome-check

Path conditions:
  backend-lint: any of: ^backend/ and \.py$
  backend-tests: any of: ^backend/ and \.py$
  local-biome-check: any of: ^frontend/
