Repository miguelangel-nubla/product-matcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-tests, local-biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                frontend/src/client/.*|
                backend/app/email-templates/build/.*
            )$
      - id: trailing-whitespace
        exclude: ^frontend/src/client/.*
  - repo: local
    hooks:
      - id: backend-lint
        name: backend lint
        entry: bash -c 'cd backend && bash scripts/lint.sh --fix'
        language: system
        types: [python]
        files: ^backend/
      - id: backend-tests
        name: backend tests
        entry: bash -c 'cd backend && bash scripts/tests-start.sh'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false
        timeout: 600
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types: [text]
        files: ^frontend/

ci:
  autofix_commit_msg: ðŸŽ¨ [pre-commit.ci] Auto format from pre-commit.com hooks
  autoupdate_commit_msg: â¬† [pre-commit.ci] pre-commit autoupdate

chore(release): 1.17.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  573fc8ab3f2c2d4a7a1199b1eabd0d47b2598e0c
Due: none

fix(normalization): align Spanish stopwords with expansion outputs
  backend/app/services/normalization/es.py
Due: backend-lint, backend-tests

fix(normalization): only remove number-only tokens
  backend/app/services/normalization/es.py
Due: backend-lint, backend-tests

chore(release): 1.17.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  1415bde1e0e88bdd4e9981a11d4b1577214783f6
Due: none

fix(normalization): add Spanish stopword
  backend/app/services/normalization/es.py
Due: backend-lint, backend-tests

Notes added by 'git notes add'
  b3818045e4bf648834d39a19e5e6e0ca3dedb1e0
Due: none

chore(release): 1.17.2 [skip ci]
  CHANGELOG.md
Due: none

fix(normalization): improve number handling
  backend/app/services/normalization/es.py
Due: backend-lint, backend-tests

chore(release): 1.17.3 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  582af094c4c06c6e024249b182f3c315bb77fa36
Due: none

feat(normalization): remove symbols from Spanish tokens
  backend/app/services/normalization/es.py
Due: backend-lint, backend-tests

chore(release): 1.18.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  843be12771b2f1dbbc2b30d39a19a6056d8b82b3
Due: none

feat: unescape HTML entities during text normalization
  backend/app/services/normalization/es.py
Due: backend-lint, backend-tests

chore(release): 1.19.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d495e906cf9835691b7dcbe1f146a9a7b846ad91
Due: none

feat: add size abbreviations to the Spanish normalization map
  backend/app/services/normalization/es.py
Due: backend-lint, backend-tests

chore(release): 1.20.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  595945fd47d9b60bb1e6ec0fa5530a293f8de39f
Due: none

refactor: de-accent Spanish stop words and abbreviations for robust normalization and add a corresponding test
  backend/app/services/normalization/es.py
  backend/tests/services/test_normalization.py
Due: backend-lint, backend-tests

feat: add matching pipeline tests
  backend/tests/services/matcher/test_pipeline.py
  backend/tests/services/matching/__init__.py
  backend/tests/services/matching/test_matching_utils.py
  backend/tests/services/test_normalization.py
Due: backend-lint, backend-tests

chore(release): 1.21.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  1333f9017d27889e1720e5daaadd325fa664d532
Due: none

feat: add stop words to Spanish
  backend/app/services/normalization/es.py
Due: backend-lint, backend-tests

chore(release): 1.22.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  076a2e39a92d1c231230712fc28a1c290fb489f7
Due: none

feat: strip accents from Spanish tokens during normalization
  backend/app/services/normalization/es.py
  backend/tests/services/test_normalization.py
Due: backend-lint, backend-tests

chore(release): 1.23.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  0894d8cb3647786fb2da6b0384929d429d83d732
Due: none

feat: fix tests
  backend/app/services/normalization/es.py
  backend/tests/adapters/test_registry.py
  backend/tests/services/matcher/test_pipeline.py
  backend/tests/services/matching/test_matching_utils.py
  backend/tests/services/test_normalization.py
  frontend/package-lock.json
  scripts/test.sh
Due: backend-lint, backend-tests, local-biome-check

chore(release): 1.24.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  567e8ba65164aa3a8b5ad590c0a00a243097fbe6
Due: none

feat: improve Playwright tests
  frontend/src/hooks/useAuth.ts
  frontend/tests/user-settings.spec.ts
  frontend/vite.config.ts
Due: local-biome-check

chore(release): 1.25.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  a78b4bf104c6e482ba1248cb91ceb8e291976db5
Due: none

feat: listen on all IPv4 and IPv6 interfaces
  backend/Dockerfile
Due: none

chore(release): 1.26.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  17fcd9cf8c4c02f711ee73104eb855bc251957d0
Due: none
