Repository miguelangel-nubla/product-matcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-tests, local-biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                frontend/src/client/.*|
                backend/app/email-templates/build/.*
            )$
      - id: trailing-whitespace
        exclude: ^frontend/src/client/.*
  - repo: local
    hooks:
      - id: backend-lint
        name: backend lint
        entry: bash -c 'cd backend && bash scripts/lint.sh --fix'
        language: system
        types: [python]
        files: ^backend/
      - id: backend-tests
        name: backend tests
        entry: bash -c 'cd backend && bash scripts/tests-start.sh'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false
        timeout: 600
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types: [text]
        files: ^frontend/

ci:
  autofix_commit_msg: ðŸŽ¨ [pre-commit.ci] Auto format from pre-commit.com hooks
  autoupdate_commit_msg: â¬† [pre-commit.ci] pre-commit autoupdate

refactor: update user authentication logic to support proxy sessions and full user objects
  backend/app/api/routes/users.py
  frontend/src/hooks/useAuth.ts
Due: backend-lint, backend-tests, local-biome-check

feat: restrict settings tabs and display info alert for proxy-authenticated users
  frontend/src/routes/_layout/settings.tsx
Due: local-biome-check

chore(release): 1.27.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  01aefe3a16dcb2f6bacbe161bd8ab533abfe2606
Due: none

feat: restrict admin actions for proxy-authenticated users and update superuser dependency to support JWT-only auth
  backend/app/api/deps.py
  frontend/src/routes/_layout/admin.tsx
Due: backend-lint, backend-tests, local-biome-check

chore(release): 1.28.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  ba77071f54d8313529d0a055764eaf6f8d1a6041
Due: none

feat: add English text normalization and matching support with pending query ownership verification
  backend/app/adapters/data/test_products_messy.yaml
  backend/app/adapters/grocy.py
  backend/app/adapters/mock.py
  backend/app/api/routes/backends.py
  backend/app/api/routes/matching.py
  backend/app/config/loader.py
  backend/app/crud.py
  backend/app/main.py
  backend/app/models.py
  backend/app/services/matcher/strategies/semantic.py
  backend/app/services/matching/utils/en.py
  backend/app/services/matching/utils/registry.py
  backend/app/services/normalization/en.py
  backend/app/services/normalization/registry.py
  backend/app/services/pending.py
  backend/tests/crud/test_access_tokens.py
  backend/tests/services/matching/test_matching_utils.py
  backend/tests/services/test_normalization.py
  backend/tests/services/test_pending.py
  frontend/src/components/Admin/PendingUsers.tsx
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/settings.tsx
  frontend/tests/user-settings.spec.ts
Due: backend-lint, backend-tests, local-biome-check

refactor: replace fuzzy matching strategy with exact and lexical strategies
  README.md
  backend/app/models.py
  backend/app/services/matcher/context.py
  backend/app/services/matcher/data_preparation.py
  backend/app/services/matcher/matcher.py
  backend/app/services/matcher/pipeline.py
  backend/app/services/matcher/scoring.py
  backend/app/services/matcher/strategies/__init__.py
  backend/app/services/matcher/strategies/base.py
  backend/app/services/matcher/strategies/exact.py
  backend/app/services/matcher/strategies/fuzzy.py
  backend/app/services/matcher/strategies/lexical.py
  backend/app/services/matcher/strategies/semantic.py
  backend/app/services/matching/utils/en.py
  backend/app/services/matching/utils/es.py
  backend/docs/matching-strategies.md
  backend/pyproject.toml
  backend/tests/benchmarks/benchmark_runner.py
  backend/tests/services/matcher/strategies/test_exact.py
  backend/tests/services/matcher/strategies/test_fuzzy.py
  backend/tests/services/matcher/strategies/test_lexical.py
  backend/tests/services/matcher/strategies/test_semantic.py
  backend/tests/services/matcher/test_data_preparation.py
  backend/tests/services/matcher/test_matcher.py
  backend/tests/services/matcher/test_pipeline.py
  backend/tests/services/matcher/test_scoring.py
Due: backend-lint, backend-tests

fix(normalization): preserve taste varieties and canned form as product discriminators
  backend/app/services/normalization/en.py
  backend/app/services/normalization/es.py
  backend/tests/services/test_normalization.py
Due: backend-lint, backend-tests

feat(matcher): add measurement and dimension tie-breaking disambiguation
  backend/app/services/matcher/context.py
  backend/app/services/matcher/data_preparation.py
  backend/app/services/matcher/pipeline.py
  backend/app/services/matcher/scoring.py
  backend/tests/services/matcher/test_scoring.py
Due: backend-lint, backend-tests

feat: support multiple product barcodes and ignore prefixes in Grocy adapter and exact matcher
  backend/app/adapters/base.py
  backend/app/adapters/grocy.py
  backend/app/config/user/backends.yaml
  backend/app/services/matcher/context.py
  backend/app/services/matcher/data_preparation.py
  backend/app/services/matcher/strategies/exact.py
  backend/tests/adapters/test_grocy.py
Due: backend-lint, backend-tests

refactor: upgrade spacy model to lg, enhance matching pipeline scoring, and add composite database indexes
  DEPLOY.md
  README.md
  backend/app/adapters/base.py
  backend/app/adapters/grocy.py
  backend/app/adapters/mock.py
  backend/app/alembic/versions/b4e8c1a09d27_composite_query_indexes.py
  backend/app/api/routes/matching.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/models.py
  backend/app/services/matcher/context.py
  backend/app/services/matcher/matcher.py
  backend/app/services/matcher/pipeline.py
  backend/app/services/matcher/scoring.py
  backend/app/services/matcher/strategies/fuzzy.py
  backend/app/services/matcher/strategies/semantic.py
  backend/app/services/matching/utils/en.py
  backend/app/services/matching/utils/es.py
  backend/app/services/matching/utils/similarity.py
  backend/app/services/normalization/en.py
  backend/app/services/pending.py
  backend/docs/matching-strategies.md
  backend/pyproject.toml
  backend/tests/adapters/test_grocy.py
  backend/tests/api/routes/test_matching.py
  backend/tests/services/matcher/strategies/test_fuzzy.py
  backend/tests/services/matcher/strategies/test_semantic.py
  backend/tests/services/matcher/test_matcher.py
  backend/tests/services/matcher/test_pipeline.py
  backend/tests/services/matching/test_matching_utils.py
  backend/tests/services/test_pending.py
  backend/uv.lock
  docker-compose.test.yml
  docker-compose.yml
  frontend/src/components/ProductCard.tsx
  frontend/src/routes/_layout/pending.tsx
Due: backend-lint, backend-tests, local-biome-check

fix(normalization): preserve fresh and fresco as culinary state descriptors
  backend/app/services/normalization/en.py
  backend/app/services/normalization/es.py
  backend/tests/services/test_normalization.py
Due: backend-lint, backend-tests

feat(adapters,pending): sync barcode aliases to grocy and harden empty normalized text handling
  backend/app/adapters/grocy.py
  backend/app/adapters/mock.py
  backend/app/services/matcher/data_preparation.py
  backend/app/services/pending.py
  backend/tests/adapters/test_grocy.py
Due: backend-lint, backend-tests

feat: add grocy backend configuration and expand Spanish text normalization rules
  backend/app/config/user/backends.yaml
  backend/app/services/normalization/es.py
  backend/tests/services/test_normalization.py
Due: backend-lint, backend-tests

feat: add external product search endpoint, database performance indexes, and semantic match tie-score handling
  backend/app/alembic/versions/c7a9e1d2f345_add_indexes_for_performance.py
  backend/app/api/routes/matching.py
  backend/app/models.py
  backend/app/services/matcher/matcher.py
  backend/app/services/matcher/strategies/semantic.py
  backend/tests/api/routes/test_matching.py
  backend/tests/services/matcher/strategies/test_semantic.py
  backend/tests/services/matcher/test_matcher.py
  frontend/src/hooks/useAuth.ts
  frontend/src/routes/_layout/pending.tsx
  scripts/generate-client.sh
Due: backend-lint, backend-tests, local-biome-check

feat: expand normalization unit vocabulary, make normalizer config optional, and improve alias duplicate handling
  backend/app/adapters/grocy.py
  backend/app/adapters/mock.py
  backend/app/services/normalization/base.py
  backend/app/services/normalization/en.py
  backend/app/services/normalization/es.py
  backend/tests/adapters/test_mock.py
  backend/tests/adapters/test_registry.py
  backend/tests/services/test_normalization.py
  logs/access.log
  logs/error.log
Due: backend-lint, backend-tests

refactor: rename grocy backend to grocy1 in config and documentation
  README.md
  backend/app/config/user/backends.yaml
Due: none

feat: add environment variable configuration and improve alias handling in Grocy adapter
  .env
  backend/app/adapters/grocy.py
  backend/app/config/user/backends.yaml
Due: backend-lint, backend-tests

feat: add plural-tolerant exact matching and advanced product name alias extraction
  backend/app/adapters/base.py
  backend/app/adapters/grocy.py
  backend/app/adapters/mock.py
  backend/app/services/matcher/scoring.py
  backend/app/services/matcher/strategies/exact.py
  backend/tests/adapters/test_grocy.py
  backend/tests/services/matcher/strategies/test_exact.py
  backend/tests/services/matcher/test_scoring.py
Due: backend-lint, backend-tests

fix(normalization): preserve natural, normal, and gourmet in normalization
  backend/app/services/normalization/en.py
  backend/app/services/normalization/es.py
  backend/tests/services/test_normalization.py
Due: backend-lint, backend-tests

feat: support barcode matching and filter inactive products in grocy adapter
  backend/app/adapters/base.py
  backend/app/adapters/grocy.py
Due: backend-lint, backend-tests

feat: enhance product name normalization with multi-word expansion support and case-insensitive Grocy alias deduplication
  backend/app/adapters/grocy.py
  backend/app/services/normalization/en.py
  backend/app/services/normalization/es.py
  backend/tests/services/test_normalization.py
Due: backend-lint, backend-tests

chore(release): 1.29.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e15d9584f99f86a1ba2325827396805038c93544
Due: none

style: apply ruff format to backend app
  backend/app/adapters/grocy.py
  backend/app/services/matcher/pipeline.py
  backend/app/services/matcher/scoring.py
Due: backend-lint, backend-tests

feat: add candidate_product_ids query parameter to constrain matching scope and skip pending queue
  backend/app/api/routes/matching.py
  backend/app/models.py
  backend/app/services/matcher/data_preparation.py
  backend/app/services/matcher/matcher.py
  backend/docs/matching-strategies.md
  backend/tests/api/routes/test_matching.py
  backend/tests/services/matcher/test_data_preparation.py
  backend/tests/services/matcher/test_matcher.py
Due: backend-lint, backend-tests

chore(release): 1.30.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  bf499a4f70f43d8f5f86caaad39c9eee4c2f9edb
Due: none
